<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your BMI</title>
</head>
<body>
    <h1 style="text-align: center; color : red" > An Error Occurred </h1>
    <h2 style="text-align: center;font-family: cursive;">{{message}}</h1>
    <div style="text-align: center; margin-top: 50px;">
        <a href="/" style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">Calculate Again</a>
    </div>
</body>
</html>